<!-- <br>
<br>
<div class="promotion1" >
  <h1 class="our-h1">{{promotionsModel[0].promotionTitle}}</h1>
  <i class="fa fa-phone" aria-hidden="true"></i>
  <br>
  <div class="container">
    <div class="row">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      <div class="col-md-3 col-6 names" *ngFor="let data of promotionsModel[0].joinedtable">
        
        <img [src]="data.productImageName[0]" style="width:210px;height: 237px" class="img">
        <b>{{data.productName}}</b>
        <br>
        {{data.price}}
      </div>
    </div>
  </div>
</div> -->


